body {
    font-family: "Alata", sans-serif;
    display: flex;
    height: 80vh;
    justify-content: center;
}

.choice-buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 30px;
}

.choice-buttons button {
    padding: 15px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.choice-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.choice-head img {
    width: 30px;
    height: 30px;
}